<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>TACO CLOUD</title>
        <link rel="stylesheet" th:href="@{/style.css}">
    </head>
    <body>
        <h1>Design your TACO!</h1>
        <img th:src="@{/images/TacoCloud.png}" alt="타코클라우드 이미지"/>
        <!--
        폼이 제출된다면 폼의 모든 데이터를 모아서 GET요청과 같은 경로 (/design) 으로 서버에 HTTP POST 요청을 전송한다.
        -->
        <form method="post" th:object="${taco}">
            <span class="validationError" th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}">Ingredient Error</span>
            <div class="grid">
                <div class="ingredient-group" id="wrap"></div>
                <h3>Designate your wrap:</h3>
                
                <div th:each="ingredient : ${wrap}">
                    <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            
            <div class="ingredient-group" id="proteins">
                <h3>Pick your protein:</h3>
                <div th:each="ingredient : ${protein}">
                    <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="ingredient-group" id="cheeses">
                <h3>Choose your cheese:</h3>
                <div th:each="ingredient : ${cheese}">
                    <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="ingredient-group" id="veggies">
                <h3>Determine your veggies:</h3>
                <div th:each="ingredient : ${veggies}">
                    <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="ingredient-group" id="sauces">
                <h3>Select your sauce:</h3>
                <div th:each="ingredient : ${sauce}">
                    <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div>
                <h3>Name your taco creation:</h3>
                <input type="text" th:field="*{name}"/>
                <span th:text="${#fields.hasErrors('name')}">XXX</span>
                <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span> <br/>
                <button>Submit your taco</button>
            </div>
        </form>
    </body>
</html>
